/* @-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   } */

body {
    font-family: Arial, Helvetica, sans-serif;
 /* -webkit-animation: fade-in 3s linear; /* Safari 4+ */
 /* -moz-animation: fade-in 3s linear; /* Fx 5+ */
 /*-o-animation: fade-in 3s linear; /* Opera 12+ */
 /* animation: fade-in 3s linear; /* IE 10+, Fx 29+ */
}
.profile {
    width: 1280px;
    margin: 0 auto;
}

.section {
    padding: 50px 50px 50px 50px;
}

.section_black {
    background-color: #445162;
}

.section__img {
    width: 35%;
}

/*======================================== Main section ===========================================*/

.main-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.main-article__title {
    font-size: 60px;
    margin-bottom: 50px;
}

.main-article__list {
    font-size: 20px;
}

.main-article_white {
    color: white;
}

.main-article__item {
    margin-bottom: 10px;
}

.main-article__item::before{
    content: url("../assets/check_icon.png");
    margin-right: 10px;
}
/* -----------------------------End main-section----------------------------------- */

.slider{
    max-width: 100%;
    position: relative;
    
    height: 300px;
    margin-bottom: 130px;
    margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


/* Кружочки */

.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* =============================Article about====================================== */
.about-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.about-section__img {
    width: 30%;
}

.article-about {
    width: 60%;
}

.article-about__title {
    margin-bottom: 40px;
    font-size: 30px;
}

.article-about__title_grey {
    color: #445161;
}

.article-about__item {
    line-height: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* -----------------------------End article about */
/* =============================Advantages=============================================== */
.advantages__list {
    display: flex;
    flex-flow: row;
}

.advantages__column {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
}

.advantages__title {
    margin-bottom: 40px;
    font-size: 30px;
}

.advantages__title_center {
    text-align: center;
}

.advantages__item {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
    /* margin-right: 10px; */
}

.advantages__item_tab {
    padding-left: 5px;
}

.advantages__item_size {
    height: 30px;
}

.advantages_grey {
    background-color: #f5f5f5;
}
/* ==================================End advantages================================= */

/* -----------------------------------Photos----------------------------------------- */
.section-photos__list {
    display: flex;
    flex-flow: row;
}

.section-photos__column {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
}

.section-photos__title {
    font-size: 24px;
    color: #445162;
    margin-bottom: 15px;
}

.section-photos_tab {
    margin-left: 20px;
}

.section-photos_size {
    height: 80px;
}

.section-review_grey {
    background-color: lightgray;
    border-radius: 5px;
}
/* -------------------------------End photos------------------------------------------ */

/* -------------------------------Purchase------------------------------------------- */
.purchase {
    padding: 100px;
}

.purchase__title {
    /* padding-top: 50px; */
    font-size: 30px;
}
.purchase-offers {
    display: flex;
    flex-flow: row;
}

.purchase-offers__title {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 19px 0;
}

.purchase-offers__dollar{
    padding: 10px 0;
    text-align: center;
    background-color: white;
    font-size: 40px;
    color: #445161;
}
.purchase-offers__item {
    width: 300px;
    margin-right: 40px;
    border: 2px;
    border-style: solid;
    border-color: #445162;
}

.purchase-offers__standart {
    height: 300px;
    margin-top: 300px;
}

.purchase-offers__premium {
    height: 400px;
    margin-top: 200px;
}

.purchase-offers__lux {
    height: 500px;
    margin-top: 100px;
}

.purchase-offers__list {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 25px;
}

.purchase-offers__button {
    margin-top: 10px;
    margin-left: 20px;
    width: 260px;
    height: 40px;
    color: #445162;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
/* -------------------------------End purchase--------------------------------------- */

/* --------------------------------Contacts------------------------------------------- */
.contact-form {
    margin-left: 250px;
    width: 500px;
}

.contacts__place {
    display: flex;
    flex-flow: row;
}

.contact-form__name {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form__text {
    width: 500px;
    height: 150px;
    border-radius: 5px;
}

.contact-form__button {
    margin: 20px 170px 50px 170px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #445162;
    font-weight: bold;
}

.contacts-info {
    margin-left: 45px;
    line-height: 40px;
}

.contacts-info__skype::before{
    content: url("../assets/skype.png");
    padding-right: 5px;
}

.contacts-info__icq::before{
    content: url("../assets/icq.png");
    padding-right: 5px;
}

.contacts-info__email::before{
    content: url("../assets/email.png");
    padding-right: 5px;
}

.contacts-info__phone::before{
    content: url("../assets/phone.png");
    padding-right: 5px;
}

.contacts__title {
    padding-top: 50px;
}
/* --------------------------------End contacts---------------------------------------- */

/* -------------------------------Footer------------------------------------------- */
.footer-text{
    font-size: 12px;
    color: #445162;
    text-align: center;
    padding: 19px 0;
}
/* ------------------------------End footer----------------------------------------- */