.biography {
	@include equal-width;
	justify-content: space-between;
	align-items: center;
	&__title {
		font-size: 45px;
		margin-bottom: 30px;
		text-align: center;
	}
	&__item {
		font-size: 20px;
		text-align: justify;
		line-height: 1.5em;
		margin-bottom: 10px;
		padding-right: 100px;
	}
	&__img {
		width: 20%;
		border-radius: 10%;
	}
}
.section{
	&_white {
		background-color: $primary-color;
	}
	&__title {
		font-size: 45px;
		margin-bottom: 30px;
		text-align: center;
	}
}
.article_black {
	color: black;
}
.experience {
	@include equal-width;
	justify-content: flex-start;
	&__list {
		font-size: 20px;
		margin-right: 20px;
		line-height: 1.5em;
	}
	&__item {
		&::before {
			content: url(../img/checkicon1.png);
			margin-right: 10px;
		}
	}
}
.hobbies {
	@include equal-width;
	justify-content: space-between;
	&__item {
		text-align: left;
		font-size: 20px;
		width: 50%;
		padding: 20px 5px 20px 5px;
	}
}

