.profile {
	@extend %main-size;
}
.section {
	padding: 50px 50px 50px 50px;
	&_black {
		background-color: darkcyan;
	}
	&__img {
		width: 20%;
		border-radius: 10%;
		padding: 1%;
	}
}
.main-section {
	@include equal-width;
	justify-content: space-between;
}
.main-article {
	&__title {
		font-size: 60px;
		margin-bottom: 30px;
	}
	&__list {
		font-size: 20px;
		padding: 0 0 0 100px;
	}
	&_white {
		color: $primary-color;
	}
	&__item {
		margin-bottom: 10px;
		&::before {
			content: url(../img/checkicon.png);
			margin-right: 10px;
		}
	}
}