%main-size {
    width: 1280px;
    margin: 0 auto;
}
%basement {
    box-sizing: border-box;
    display: block;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
    outline: none;
}
