.footer {
	@extend %main-size;
	&__title {
		font-size: 45px;
		color: $primary-color;
		text-align: center;
		padding-bottom: 30px;
	}
}
.footer-contact {
	@include equal-width;
	justify-content: space-around;
}
.footer-form {
	&__field {
		@extend %basement;
	}
	&__item {
		@extend %basement;
	}
	&__button {
		@extend %basement;
		background: darkred;
		border-radius: 5px;
		color: $primary-color;
		width: 200px;
		cursor: pointer;
		&:hover {
			background: red;
		}
	}
}
.footer_white {
	color: $primary-color;
}
.contact__item {
	font-size: 20px;
	padding-top: 10px;
}
.footer__img {
	padding: 0px 15px 0px 10px;
}
