@media screen and (max-width: 360px) {
    .profile, .footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .main-section, .biography, .experience, .footer-contact, .hobbies {
        @include mobil-equal;
    }
    .section__img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
    .main-article__title, .biography__title, .section__title, .footer__title {
        font-size: 35px;
    }
    .main-article__list {
        font-size: 15px;
        padding: 5%;
    }
    .biography__item {
        font-size: 15px;
        text-align: left;
    }
    .biography__img {
        display: none;
    }
    .section {
        padding: 5%;
    }
    .experience__item {
        font-size: 15px;
    }
    .hobbies img {
      display: none;  
    }
    .hobbies__item {
        width: 100%;
        font-size: 15px;
    }
}
@media screen and (max-width: 640px) {
    .profile, .footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .main-section, .biography, .experience, .footer-contact, .hobbies {
        @include mobil-equal;
    }
    .section__img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
    .main-article__title, .biography__title, .section__title, .footer__title {
        font-size: 35px;
    }
    .main-article__list {
        padding: 0;
        font-size: 20px;
    }
    .biography__item {
        font-size: 20px;
        padding: 0;
        text-align: left;
    }
    .biography__img {
        display: none;
    }
    .section {
        padding: 5%;
    }
    .experience {
        align-items: flex-start;
    }
    .experience__item {
        font-size: 20px;
    }
    .hobbies img {
      display: none;  
    }
    .hobbies__item {
        font-size: 20px;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .profile, .footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .main-section, .biography, .experience, .footer-contact, .hobbies {
        @include mobil-equal;
    }
    .section__img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
    .main-article__title, .biography__title, .section__title, .footer__title {
        font-size: 35px;
    }
    .main-article__list {
        padding: 0;
        font-size: 15px;
    }
    .biography__item {
        padding: 0;
        text-align: left;
    }
    .biography__img {
        display: none;
    }
    .section {
        padding: 5%;
    }
    .experience {
        align-items: flex-start;
    }
    .hobbies img {
      display: none;  
    }
    .hobbies__item {
        width: 100%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    .profile, .footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .section__img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
    .hobbies img {
        display: none;  
      }
      .hobbies__item {
          padding: 1%;
      }

}    